I loved simple bank. It was the easies banking interface ever. And it geared to help me save money not spend it, lol.

Sadly, they're gone. So, here's my initial crack at making one.

In [1]:
import pandas as pd
import numpy as np

In [39]:
import datetime as dt     
today = pd.to_datetime('today').normalize()

In [40]:
print(today)

2021-08-09 00:00:00

In [2]:
# first i'll need a calendar.

def create_date_table(start='2000-01-01', end='2050-12-31'):
    df = pd.DataFrame({"Date": pd.date_range(start, end)})
    df["Day"] = df.Date.dt.day_name()
    df["Week"] = df.Date.dt.weekofyear
    df["Quarter"] = df.Date.dt.quarter
    df["Year"] = df.Date.dt.year
    df["Year_half"] = (df.Quarter + 1) // 2
    return df

In [3]:
df_cal = create_date_table('2021-08-01', '2021-12-31')

<ipython-input-2-8be5acf6b006>:6: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated.  Please use Series.dt.isocalendar().week instead.
  df["Week"] = df.Date.dt.weekofyear

In [4]:
df_cal.head()

        Date        Day  Week  Quarter  Year  Year_half
0 2021-08-01     Sunday    30        3  2021          2
1 2021-08-02     Monday    31        3  2021          2
2 2021-08-03    Tuesday    31        3  2021          2
3 2021-08-04  Wednesday    31        3  2021          2
4 2021-08-05   Thursday    31        3  2021          2

In [29]:
def calculate_paydays(df_cal, payday = '2021-08-11', frequency = 2, income = 3000):
    #payday = input("When's your next payday? ")
    #frequency = input("How often do you get paid? (enter 1 for weekly, 2 for bi-weekly, 3 for monthy, 4 for twice monthly) ")
    #df_cal['payday'] = np.where(df_cal['Date'] == payday, 'payday', '')
    #income = input("How much money do you get each payday? ")
    start = df_cal.index[df_cal['Date'] == payday].tolist()
    paydays = df_cal[df_cal.index % 14 == start[0]].index
    df_cal['payday'] = np.where(df_cal.index.isin(paydays), 'payday', np.NaN)
    df_cal['income'] = np.where(df_cal.index.isin(paydays), income, np.NaN)

In [30]:
calculate_paydays(df_cal)

In [32]:
df_cal.head(50)

         Date        Day  Week  Quarter  Year  Year_half  payday  income
0  2021-08-01     Sunday    30        3  2021          2     nan     NaN
1  2021-08-02     Monday    31        3  2021          2     nan     NaN
2  2021-08-03    Tuesday    31        3  2021          2     nan     NaN
3  2021-08-04  Wednesday    31        3  2021          2     nan     NaN
4  2021-08-05   Thursday    31        3  2021          2     nan     NaN
5  2021-08-06     Friday    31        3  2021          2     nan     NaN
6  2021-08-07   Saturday    31        3  2021          2     nan     NaN
7  2021-08-08     Sunday    31        3  2021          2     nan     NaN
8  2021-08-09     Monday    32        3  2021          2     nan     NaN
9  2021-08-10    Tuesday    32        3  2021          2     nan     NaN
10 2021-08-11  Wednesday    32        3  2021          2  payday  3000.0
11 2021-08-12   Thursday    32        3  2021          2     nan     NaN
12 2021-08-13     Friday    32        3  2021          2     nan     NaN
13 2021-08-14   Saturday    32        3  2021          2     nan     NaN
14 2021-08-15     Sunday    32        3  2021          2     nan     NaN
15 2021-08-16     Monday    33        3  2021          2     nan     NaN
16 2021-08-17    Tuesday    33        3  2021          2     nan     NaN
17 2021-08-18  Wednesday    33        3  2021          2     nan     NaN
18 2021-08-19   Thursday    33        3  2021          2     nan     NaN
19 2021-08-20     Friday    33        3  2021          2     nan     NaN
20 2021-08-21   Saturday    33        3  2021          2     nan     NaN
21 2021-08-22     Sunday    33        3  2021          2     nan     NaN
22 2021-08-23     Monday    34        3  2021          2     nan     NaN
23 2021-08-24    Tuesday    34        3  2021          2     nan     NaN
24 2021-08-25  Wednesday    34        3  2021          2  payday  3000.0
25 2021-08-26   Thursday    34        3  2021          2     nan     NaN
26 2021-08-27     Friday    34        3  2021          2     nan     NaN
27 2021-08-28   Saturday    34        3  2021          2     nan     NaN
28 2021-08-29     Sunday    34        3  2021          2     nan     NaN
29 2021-08-30     Monday    35        3  2021          2     nan     NaN
30 2021-08-31    Tuesday    35        3  2021          2     nan     NaN
31 2021-09-01  Wednesday    35        3  2021          2     nan     NaN
32 2021-09-02   Thursday    35        3  2021          2     nan     NaN
33 2021-09-03     Friday    35        3  2021          2     nan     NaN
34 2021-09-04   Saturday    35        3  2021          2     nan     NaN
35 2021-09-05     Sunday    35        3  2021          2     nan     NaN
36 2021-09-06     Monday    36        3  2021          2     nan     NaN
37 2021-09-07    Tuesday    36        3  2021          2     nan     NaN
38 2021-09-08  Wednesday    36        3  2021          2  payday  3000.0
39 2021-09-09   Thursday    36        3  2021          2     nan     NaN
40 2021-09-10     Friday    36        3  2021          2     nan     NaN
41 2021-09-11   Saturday    36        3  2021          2     nan     NaN
42 2021-09-12     Sunday    36        3  2021          2     nan     NaN
43 2021-09-13     Monday    37        3  2021          2     nan     NaN
44 2021-09-14    Tuesday    37        3  2021          2     nan     NaN
45 2021-09-15  Wednesday    37        3  2021          2     nan     NaN
46 2021-09-16   Thursday    37        3  2021          2     nan     NaN
47 2021-09-17     Friday    37        3  2021          2     nan     NaN
48 2021-09-18   Saturday    37        3  2021          2     nan     NaN
49 2021-09-19     Sunday    37        3  2021          2     nan     NaN

In [49]:

df_cal[(df_cal.payday == 'payday')
       & (df_cal.Date > today)
      ].payday.count()

11

142